h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 30px;
    font-weight: normal;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(/public/assets/img/pattern-bg-desktop.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    @include mobile {
        background-image: url(/public/assets/img/pattern-bg-mobile.png);
        background-repeat: no-repeat;
    }
}