/* Definimos las Custom properties */
/* Reseteamos los margin y paddings de todas las etiquetas */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  color: inherit;
}

input {
  outline: none;
}

/* importamos las fuentes*/
/* Definimos las fuentes */
html {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-size: 16px;
  color: black;
}

h1 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 30px;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/assets/img/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  body {
    background-image: url(/public/assets/img/pattern-bg-mobile.png);
    background-repeat: no-repeat;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
}
@media screen and (max-width: 375px) {
  .header {
    height: 300px;
  }
}

.searcher {
  min-width: 290px;
  width: 40%;
  height: 50px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  border: none;
}
.searcher__text {
  height: 100%;
  flex: 1;
  padding-left: 15px;
}
.searcher__text:hover {
  cursor: pointer;
}
.searcher__text::-moz-placeholder {
  color: hsl(0, 0%, 59%);
}
.searcher__text::placeholder {
  color: hsl(0, 0%, 59%);
}
.searcher__button {
  height: 100%;
  background-color: black;
  border: none;
  padding: 0 20px;
  transition: all 0.2s ease;
}
.searcher__button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 17%);
}

.main {
  position: relative;
  flex-grow: 1;
}

.board {
  background-color: #fff;
  width: 80%;
  height: 150px;
  border-radius: 15px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
}
@media screen and (max-width: 375px) {
  .board {
    flex-direction: column;
    height: 250px;
  }
}
.board__separator {
  width: 1px;
  height: 60%;
  background-color: hsl(0, 0%, 59%);
}
@media screen and (max-width: 375px) {
  .board__separator {
    display: none;
  }
}
.board__item {
  height: 70%;
  flex-basis: 20%;
}
@media screen and (max-width: 375px) {
  .board__item {
    text-align: center;
  }
}
.board__item-title {
  color: hsl(0, 0%, 59%);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 375px) {
  .board__item-title {
    font-size: 0.6rem;
  }
}
.board__item-description {
  font-size: 1.6rem;
  font-weight: bold;
  color: hsl(0, 0%, 17%);
}
@media screen and (max-width: 375px) {
  .board__item-description {
    font-size: 1rem;
  }
}

.map {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */